@import '../../styles/theme-variable.scss';

.booking-container {
	width: 60%;
	margin: 0 auto;
	.loading-container {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h3 {
		text-align: center;
		margin: 50px 0 30px 0;
		color: $dark-gray;
		font-weight: 200;
		font-size: 1.1rem;
	}
	.time-slot-container {
		width: 80%;
		max-width: 1020px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		.slot-card {
			border: 1px solid #f8e2ff;
			flex: 1 1 30%;
			height: 180px;
			background: white;
			margin: 10px;
			border-radius: 10px;
			box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
			padding: 0 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			h5 {
				color: $primary-color;
				font-size: 1rem;
				margin: 15px 0;
			}
			span {
				padding: 2px 5px;
				background: $span-background;
				color: $span-color;
				font-size: 1.2rem;
				text-transform: capitalize;
			}
			button {
				width: 50%;
				padding: 10px 5px;
				outline: none;
				cursor: pointer;
				margin-top: 30px;
				background: white;
				border: 1px solid white;
				color: $primary-color;
				border-radius: 5px;
			}
		}
	}
}

.DayPicker {
	display: block !important;
	font-size: 1.7rem !important;
}
.DayPicker-Months {
	margin: 30px 0;
	outline: none;
	padding: 50px 0 80px 0;
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
